<div
  [ngClass]="customClass || ''"
  class="modal"
  [ngStyle]="{ display: show ? 'block' : 'none' }"
>
  <div class="overlay" (click)="closeCallback()"></div>
  <form class="modal_content">
    <!-- <button title="Close" class="close_modal" (click)="closeCallback()">
      <i class="fas fa-times"></i>
    </button> -->
    <div class="chicken">🐣</div>
    <div class="modal-input-area">
      <h2>New Account</h2>
      <div class="sign-in-input-div">
        <label class="sign-in-label" for="username">Username</label>
        <img class="clear-input" src="../../assets/icon--saltire.svg" alt="clear input" />
        <input class="sign-in-input" type="text" name="username" id="username" />
      </div>
      <div class="sign-in-input-div">
        <label class="sign-in-label" for="password">Password</label>
        <div class="show-hide-password">
          <img [src]="showHideImg" />
          <label class="show-hide-label">{{ passwordShowLabel }}</label>
        </div>
        <img class="clear-input" src="../../assets/icon--saltire.svg" alt="clear input" />
        <input
          class="sign-in-input"
          [type]="passwordField"
          name="password"
          id="password"
        />
      </div>
      <div class="sign-in-input-div">
        <label class="sign-in-label" for="email">Email</label>
        <img class="clear-input" src="../../assets/icon--saltire.svg" alt="clear input" />
        <input class="sign-in-input" type="text" name="email" id="email" />
      </div>
    </div>
    <div class="modal-register-cancel-links">
      <button class="register-buttons" type="button" (click)="closeCallback()">
        Cancel
      </button>
      <button class="register-buttons" type="button" (click)="closeCallback()">
        Register Account
      </button>
    </div>
  </form>
</div>
