<main class="sign-in-page">
  <section class="sign-in-page-left">
    <div>
      <img class="sign-in-logo" src="../../assets/logo--Gaggle.svg" alt="Gaggle Logo" />
    </div>
    <form class="sign-in-form">
      <div>
        <label class="sign-in-label" for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label class="sign-in-label" for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <input type="checkbox" id="remember" name="remember" />
        <label for="remember">Remember</label>
      </div>
      <button>Sign On</button>
    </form>
    <div class="sign-in-links">register forgot password?</div>
  </section>
  <section class="sign-in-page-right"></section>
</main>
