<main class="sign-in-page">
  <section class="sign-in-page-left">
    <header>
      <img class="sign-in-logo" src="../../assets/logo--Gaggle.svg" alt="Gaggle Logo" />
    </header>
    <form class="sign-in-form">
      <div class="sign-in-input-div">
        <label class="sign-in-label" for="username">Username</label>
        <input class="sign-in-input" type="text" name="username" id="username" />
      </div>
      <div class="sign-in-input-div">
        <label class="sign-in-label" for="password">Password</label>
        <div class="show-hide-password">
          <img [src]="showHideImg" />
          <label class="show-hide-label">{{ passwordShowLabel }}</label>
        </div>
        <img class="clear-input" src="../../assets/icon--saltire.svg" alt="clear input" />
        <input
          class="sign-in-input"
          [type]="passwordField"
          name="password"
          id="password"
        />
        <!-- <p display="none">
          apples mangos oranges etc etc this is the stuff thats going in here
        </p> -->
      </div>
      <div class="sign-in-remember-div">
        <input type="checkbox" id="remember" name="remember" />
        <label for="remember">Remember</label>
      </div>
      <a class="sign-in-button" routerLink="/incidents" routerLinkActive="active">
        Sign On</a
      >
    </form>
    <div class="sign-in-links">
      <a (click)="toggleModal()">Register</a>
      <div class="link-divider"></div>
      <a>Forgot password?</a>
    </div>
  </section>
  <section class="sign-in-page-right"></section>
</main>

<div>
  <app-register-modal
    [show]="showModal"
    [customClass]="'custom_modal_class'"
    [closeCallback]="toggleModal"
    [passwordShown]="passwordShown"
    [showHideImg]="showHideImg"
    [passwordShowLabel]="passwordShowLabel"
    [passwordField]="passwordField"
  >
  </app-register-modal>
</div>
