.sign-in-page {
  height: 100vh;
  display: flex;
}

.sign-in-page-right {
  background-image: url('../../assets/hero-image.png');
  background-color: cornflowerblue;
  flex: 0 0 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-page-left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in-logo {
  margin: 20px 0 0 20px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 192px;
  max-width: 272px;
  align-self: center;
}

.sign-in-input-div {
  position: relative;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 3px;
  background-color: rgb(255 255 255);
  overflow: hidden;
  padding: 1rem 0.5rem 0.15rem 0.5rem;
}
.sign-in-input {
  border: none;
  outline: 0;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

.sign-in-input:focus {
  border-bottom: 1.2px solid;
}

.sign-in-label {
  position: absolute;
  top: 0;
  font-size: 0.7rem;
}

.sign-in-remember-div {
  margin-bottom: 0.8rem;
}

.show-hide-password {
  position: absolute;
  top: 0;
  right: 0.3rem;
  display: flex;
  gap: 0.2rem;
}

.show-hide-label {
  font-size: 0.7rem;
}

.clear-input {
  position: absolute;
  right: 0.3rem;
  top: 1.5rem;
}

.sign-in-button {
  background-color: HSL(230, 53%, 35%);
  border: none;
  color: rgb(255 255 255);
  width: max-content;
  padding: 0.5rem 1.3rem;
  border-radius: 3px;
  align-self: center;
  font-weight: bolder;
}

.sign-in-links {
  align-self: center;
  margin: 0 0 20px 0;
  display: flex;
  gap: 0.5rem;
}

.link-divider {
  width: 2px;
  border: 1px solid RGB(196, 195, 196);
  height: 100%;
}
