.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}

.modal .modal_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  // overflow: auto;
  // box-sizing: border-box;
  // padding: 20px;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  // border-radius: 4px;
  // width: 520px; /* This just a default width */
}

.modal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
  opacity: 0.9;
}

.modal_content {
  width: 465px;
  height: 307px;
  display: grid;
  background: RGB(250 250 250);
  grid-template-rows: 258px 49px;
  grid-template-columns: 96px 369px;
  grid-template-areas:
    'chicken register'
    'register-buttons register-buttons';
}

.chicken {
  grid-area: chicken;
  font-size: 4rem;
  padding-top: 20px;
  text-align: center;
  background-color: RGB(235, 235, 235);
  border-right: rgba(240, 240, 240, 0.35);
}
.modal-input-area {
  grid-area: register;
  width: 272px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-self: center;
}
.modal-register-cancel-links {
  grid-area: register-buttons;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-top: 1px solid rgba(230, 230, 230, 0.85);
}

.register-buttons {
  // background-color: HSL(230, 53%, 35%);
  border: none;
  // color: rgb(255 255 255);
  width: max-content;
  background-color: RGB(250 250 250);
  padding: 0.5rem 1.3rem;
  border-radius: 3px;
  align-self: center;
  font-weight: bolder;
  margin: 0 2rem;
}

.sign-in-input-div {
  position: relative;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 3px;
  background-color: rgb(255 255 255);
  overflow: hidden;
  padding: 1rem 0.5rem 0.15rem 0.5rem;
}
.sign-in-input {
  border: none;
  outline: 0;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

.sign-in-input:focus {
  border-bottom: 1.2px solid;
}

.sign-in-label {
  position: absolute;
  top: 0;
  font-size: 0.7rem;
}

.show-hide-password {
  position: absolute;
  top: 0;
  right: 0.3rem;
  display: flex;
  gap: 0.2rem;
}

.show-hide-label {
  font-size: 0.7rem;
}

.clear-input {
  position: absolute;
  right: 0.3rem;
  top: 1.5rem;
}
